* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: left;
    color: tomato;
    font-size: x-large;
    transform: rotate(-20deg);

}

h2 {
    text-align: left;
    color: tomato;
    font-size: small;
    transform: rotate(-20deg);


}

.container {
    color: white;
    width: 300px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}

.container .box {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(55, 161, 197);
    transition: all .25s ease-in-out;
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    color: white;
}


.container span {
    width: 100%;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    /*font-family: 'Press Start 2P', cursive;*/
    animation: blink 1s steps(4, start) infinite;
}
  
 @keyframes blink{
   to{
     visibility: hidden
   }
 }


.container .box:hover {
    background-color:rgb(55, 161, 197);
}

#playAgain {
    background: grey;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(55, 161, 197);
    cursor: pointer;
    width: 250px;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}

#playAgain:hover {
    background-color:rgb(55, 161, 197);
}

body {
    background-image: url('https://tchetcuti.files.wordpress.com/2016/01/grid-stars1.gif');
    /*https://66.media.tumblr.com/3bc6faac9df9fb1473648d9fb0d630fd/tumblr_o1jzbcK5lR1slb5two1_500.gifv*/
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
